body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.chat-message {
  padding: 5px;
  font-family: Arial, sans-serif;
}

.username-X {
  color: green;
  font-weight: normal;
  font-size: 14px
}

.username-O {
  color: red;
  font-weight: normal;
  font-size: 14px
}

.chat-name {
  color: blue;
  font-weight: 100;
  font-style: italic;
  margin-right: 5px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* khoảng cách giữa bàn cờ và chat */
}

#board {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  gap: 1px;
  background-color: #555;
}

#chat-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 611px; /* tương tự chiều cao bàn cờ */
  border: 1px solid #ccc;
}

#chat-window {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: left; /* Căn lề trái nội dung chat */
}

#chat-input {
  border: none;
  border-top: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
}

.cell:hover { background-color: #eaeaea; }

#status, #reset-btn {
  text-align: center;
  display: block;
  margin: 15px auto;
}

#player-name {
  padding: 8px;
  margin-bottom: 10px;
}

#join-btn {
  padding: 8px 16px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

#player-status {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}
